
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Pythongame_w_Handtraking.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/hand_tracking.cpython-310.pyc
__pycache__/hand_tracking.cpython-310.pyc
__pycache__/hand_tracking.cpython-310.pyc
*.pyc
.idea/.name
__pycache__/hand_tracking.cpython-310.pyc
